{% extends 'layout.html' %}

{% block title %} {{ info.name }} {% endblock %}

{% block content %}
<img src="images/cn.png" alt="China">

Games
<table>
<tr>
	<th>Name</th>
	<th>DOB</th>
</tr>
{% for item in players %}
<tr>
	<td><a href="{{ url_for('player', player=item.name) }}" class="active">{{item.name}}</a></td>
    <td>{{item.DOB}}</td>
</tr>
{% endfor %}
</table>

Games
<table>
<tr>
	<th>Black</th>
	<th>White</th>
</tr>
{% for item in games %}
<tr>
    <td>{{item.playerNameBlack}}</td>
    <td>{{item.playerNameWhite}}</td>
</tr>
{% endfor %}
</table>



{% endblock %}
<!--Games
<br>Age: {{ age.age }}
<br>Rank: {{ age.ranking }}
<br>
	-->
