{% extends 'layout.html' %}

{% block title %}  {% endblock %}

{% block content %}


<h2>{{info.compName}}, Iteration {{info.compIter}}</h2>
Games
<table>
<tr>
	<th>Game ID</th>
	<th>Black</th>
	<th>White</th>
</tr>
{% for item in games %}
<tr>
    <td><a href="{{ url_for('game', gameid=item.id) }}" class="active">{{item.id}}</a></td>
    <td>
		<img src="{{url_for('static', filename='images/'+{'China':'cn', 'Japan':'jp', 'Korea':'kr', None:''}[item.blackFlag])+'.png'}}" width="20px" alt="{{item.blackFlag}}">
		
		<a href="{{ url_for('player', player=item.playerNameBlack) }}" class="active">{{item.playerNameBlack}}</a>
	</td>
	
    <td>
		<img src="{{url_for('static', filename='images/'+{'China':'cn', 'Japan':'jp', 'Korea':'kr', None:''}[item.whiteFlag])+'.png'}}" width="20px" alt="{{item.whiteFlag}}">
		
		<a href="{{ url_for('player', player=item.playerNameWhite) }}" class="active">{{item.playerNameWhite}}</a>
	</td>
</tr>
{% endfor %}
</table>



{% endblock %}
<!--

<img src="{{url_for('static', filename='cn.png')}}" alt="China">
-->
