{% extends 'layout.html' %}

{% block title %}  {% endblock %}

{% block content %}
<h1>Game #{{info.id}}</h2>
Black: 
	<img src="{{url_for('static', filename='images/'+{'China':'cn', 'Japan':'jp', 'Korea':'kr', None:''}[info.blackFlag])+'.png'}}" width="20px" alt="{{info.blackFlag}}">
	{{ info.playerNameBlack }}<br>

White: 
	<img src="{{url_for('static', filename='images/'+{'China':'cn', 'Japan':'jp', 'Korea':'kr', None:''}[info.whiteFlag])+'.png'}}" width="20px" alt="{{info.whiteFlag}}">
	{{ info.playerNameWhite }}<br>

Result: {{ info.result }}

<h2>Moves</h3>
<table>
<tr>
	<th>Move Number</th>
	<th>Player</th>
	<th>Move</th>
</tr>
{% for item in moves %}
<tr>
	<td>{{item.moveNo}}</td>
    <td>{{['Black', 'White'][item.moveNo % 2]}}</td>
    <td>{{item.positionX}}, {{item.positionY}}</td>
</tr>
{% endfor %}
</table>

<h2>Comments</h3>
<table>
<tr>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
	<th>Move Number</th>
	<th>Player</th>
	<th>Move</th>
</tr>
{% for item in comments %}
<tr>
    <td>
		
    
		<a href="{{ url_for('_post_vote', gameid=info.id, commentid = item.id, action_vote = 1) }}">
			<i class="fas fa-angle-up"></i>
		</a>
	</td>
	<td>
			
		{{item.voteCount}}
	
	</td>
	<td>	
    <a href="{{ url_for('_post_vote', gameid=info.id, commentid = item.id, action_vote = 0) }}">
        <i class="fas fa-angle-down"></i>
    </a>
	
	</td>
	<td>
	</td>
	<td>{{item.moveNoAbout}}</td>
    <td>{{item.playerNameTyped}}: </td>
    <td>{{item.text_}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}

<!--
<i class="fa fa-angle-{{'up' if item.voteCount>=0 else 'down'}}"></i> 
<i class="fa fa-angle-up"></i> 
		</input> 
		
				<input type="button" name="aa" value="v" onclick="f()">   

-->
