{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ name }}!</p>

Players with Countries
<table>
<tr>
	<th>Name</th>
	<th>DOB</th>
</tr>
{% for item in data %}
<tr>
	<td><img src="{{url_for('static', filename=item.flag)}}" width="20px" alt="China"><a href="{{ url_for('player', player=item.name) }}" class="active">{{item.name}}</a></td>
    <td>{{item.DOB}}</td>
</tr>
{% endfor %}
</table>

<!--
1	B+R	2021-02-24	Chinese Agon Cup	8	Shin Jinseo	Ichiriki Ryo
3	W+R	2021-02-22	Chinese Agon Cup	8	Iyama Yuuta	Shin Jinseo
4	W+R	2021-02-03	Chinese Agon Cup	8	Ke Jie	Shin Minjun
5	W+R	2021-02-01	Chinese Agon Cup	8	Shin Minjun	Ke Jie
8	B+R	2021-01-20	Chinese Agon Cup	8	Shin Jinseo	Lian Xiao
12	W+R	2021-01-18	Chinese Agon Cup	8	Park Yeonghun	Tang Weixing

4	W+R	2021-02-03	Chinese Agon Cup	8	Ke Jie	Shin Minjun
3	W+R	2021-02-22	Chinese Agon Cup	8	Iyama Yuuta	Shin Jinseo
12	W+R	2021-01-18	Chinese Agon Cup	8	Park Yeonghun	Tang Weixing
</table>-->

{% endblock %}