{% extends 'layout.html' %}

{% block title %}  {% endblock %}

{% block content %}


<h1>Joseki query</h2>
Search your joseki!
<form action="{{ url_for('joseki') }}" method="post" autocomplete="off">
	<label for="username">
		<i class="fas fa-user"></i>
	</label>
	<input type="text" name="coords" placeholder="3 4 5 3" id="coords" required>
	<!--<div class="msg">{{ msg }}</div>-->
	<input type="submit" value="Search">
</form>]

<h2>Games</h3>
<table>
<tr>
	<th>GameID</th>
	<th>Earlier Move                 </th>
	<th>Later Move                 </th>
</tr>
{% for item in games %}
<tr>
    <td>
		<a href="{{ url_for('game', gameid=item.GameID) }}" class="active">
			{{item.GameID}}
		</a>
	</td>
    <td>Move {{item.moveno}}, ({{item.positionX}}, {{item.positionY}})</td>
    <td>Move {{item["m2.moveno"]}} ({{item["m2.positionX"]}}, {{item["m2.positionY"]}})</td>
</tr>
{% endfor %}
</table>



{% endblock %}
<!--
Games
<table>
<tr>
	<th>Black</th>
	<th>DOB</th>
</tr>
{% for item in players %}
<tr>
	<td><a href="{{ url_for('player', player=item.name) }}" class="active">{{item.name}}</a></td>
    <td>{{item.DOB}}</td>
</tr>
{% endfor %}
</table>
-->
